<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://unpkg.com/axios@0.19.2/dist/axios.min.js"></script>
</head>
<body>

<h1>这是我的主页</h1>

<div id="app">
    <button @click="showlog">查看</button>
    <button @click="getuser">访问users</button>
</div>

<script>
    new Vue({
        el: '#app',
        data: {},
        methods: {
            showlog: function () {
                console.log('refresh:', sessionStorage.getItem('refresh'));
                console.log('access:', sessionStorage.getItem('access'));
            },
            getuser: function () {
                let that = this;
                console.log('getuser被调用');
                axios
                    .get('/users/', {headers: {Authorization: 'Bearer ' + sessionStorage.getItem('access')}})
                    .then(response => console.log(response.data))
                    .catch(function (error) {
                        console.log(error);
                        that.refresh_token();
                    })
            },
            refresh_token: function () {
                let that = this;
                console.log('refresh_token被调用');
                axios
                    .post('/api/token/refresh/', {'refresh': sessionStorage.getItem('refresh')})
                    .then(function (response) {
                        sessionStorage.setItem('access', response.data.access);
                        that.getuser()
                    })
                    .catch(function (error) {
                        console.log(error);
                        window.location.href = '/login/'
                    });
            },
        }
    })

</script>

</body>
</html>